

span {
    font-size: 44px;
}

section {
    height: 84px;
    background-color: #f1f1ef;
    border-bottom: 1px solid #000000;
}

.nav {
    gap: 24px;
    a {
        text-decoration: none;
        color: #000000;
        &:hover {
            text-decoration: underline;
        }
    }
    left: 72px;
    
}

.social {
    right: 72px;
    gap: 24px;
}

#insta, #mail {
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

#insta {
    background-image: url('/assets/img/instagram-logo.png');
    
}

#mail {
    background-image: url('/assets/img/mail.png');
}