<section class="d-flex justify-content-center align-items-center position-relative">
    <div class="nav position-absolute">
        <a href="">Portfolio</a>
        <a href="">Projekte</a>
        <a href="">Über mich</a>
    </div>
    <span>LENDLFOTO</span>
    <div class="position-absolute social d-flex">
        <div id="insta">
            <a href="https://www.instagram.com/lendl_foto/" target="_blank"></a>
        </div>
        <div id="mail" >
            <a href="mailto:lendlfoto@gmail.com"></a>
        </div>
       
        
    </div>
</section>
